{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='all_users.css') }}">
 <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="logo" href="#">Aurora <span>☕</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('menu.list_menu_items') }}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ url_for('index') }}">About us</a>
                    </li>
                    
                    
                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link text-light" href="{{ url_for('admin.admin_panel') }}">Admin Panel</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ url_for('auth.logout') }}">Logout ({{ current_user.username }})</a>
                        </li>
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </nav>
<div class="container mt-4">
    <h1 class="mb-4">користувачі</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Никнейм</th>
                <th>Email</th>
                <th>Админ</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_admin %}Да{% else %}Нет{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
