{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>Усі замовлення</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Користувач</th>
            <th>Статус</th>
            <th>Дія</th>
        </tr>
        {% for order, user in orders_results %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ order.status }}</td>
            <td>
                {% if order.status == "active" %}
                <form method="post">
                    {{ csrf_token() }}
                    <input type="hidden" name="order_id" value="{{ order.id }}">
                    <button type="submit">Позначити як виконане</button>
                </form>
                {% else %}
                    Виконано
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
